			<div class="tabs">
				<ul class="tabs__list">
					<li class="tabs__item active">
						<button>Все гонки</button>
					</li>
					<li class="tabs__item">
						<button>Предстоящие гонки</button>
					</li>
					<li class="tabs__item">
						<button>Прошедшие гонки</button>
					</li>
				</ul>
				<div class="tabs__body">
					<div class="tabs__block active">
						111111111
					</div>
					<div class="tabs__block">
						2222222
					</div>
					<div class="tabs__block">
						333333
					</div>
				</div>
			</div>